<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
    <meta charset="UTF-8">

    <title>Lista de filmes</title>
</head>
<body>

<div>
    <h1>Lista de filmes</h1>
    <a href="/filmes/formulario">Novo</a>
    <table>
        <thead>
        <tr>
            <th>NOME</th>
            <th>DURAÇÃO</th>
            <th>ANO LANÇAMENTO</th>
            <th>GÊNERO</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

</body>
</html>